* {
	border: none;
	border-radius: 0;

	font-family: MesloLGM Nerd Font;
	font-size: 14px;
	min-height: 20px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    /* border: 1px; */
    /* border-style: solid; */
    /* border-radius: 10px; */
    margin-top: 4px;
    padding-left: 16px;
    padding-right: 16px;
	transition: none;

    /* color: #1494d7; */
    /* background: #282a36; */

    color: transparent;
	background: transparent;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #1e1e1e;
	/* background: #e6e6e6; */
}

#workspaces {
    border: 1px;
    border-style: solid;
	border-radius: 10px;
	border-color: #1494d7;

	margin-top: 4px;
	margin-left: 12px;
	margin-bottom: 4px;
	background: #1e1e1e;
	/* background: #282a36; */
	transition-duration: 0.2s;
}

#workspaces button {
	padding: 0 10px;
	transition-duration: 0.2s;
	color: #1494d7;
	background: transparent;
	font-size: 14px;
}

#workspaces button.focused {
	/* padding: 0 10px; */
	transition-duration: 0.2s;
	color: #ff0000;
	background: #1e1e1e;
	font-size: 10px;
}

#workspaces button:hover {
	transition-duration: 0.2s;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#workspaces button.active {
    /* background: #deb4fe; */
	/* background: #1e1e1e; */
    color: #ff1111;
}

#mpd {
    border: 1px;
    border-style: solid;
	border-radius: 10px;

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;
	padding-left: 16px;
	padding-right: 16px;

	/* background: #282a36; */
	background: #1e1e1e;
	transition: none;
	color: #4d4d4d;
	/*background: #5af78e;*/
}

#mpd.disconnected,
#mpd.stopped {
	color: #1494d7;
	/*background: #282a36;*/
}

#network {
    border: 1px;
    border-style: solid;
	border-radius: 10px;
    border-color: #1494d7;

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
    color: #1494d7;
	background: #1e1e1e;
	/* color: #4d4d4d; */
	/* background: #bd93f9; */
}

#pulseaudio {
    border: 1px;
    border-style: solid;
	border-radius: 10px;
    
	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	background: #1e1e1e;
}

#temperature {
    border: 1px;
    border-style: solid;
	border-radius: 10px;

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	background: #1e1e1e;
	/* background: linear-gradient(to bottom right, #f61e61, #fa82a7); */
}

#cpu {
    border: 1px;
    border-style: solid;
	border-radius: 10px;

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	background: #1e1e1e;
	/* background: linear-gradient(to bottom right, #ff2d55, #252525); */
}

#memory {
    border: 1px;
    border-style: solid;
	border-radius: 10px;

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	background: #1e1e1e;
	/* background: linear-gradient(to bottom right, purple, #252525); */
}

#custom-temp{
    border: 1px;
    border-style: solid;
	border-radius: 10px;

	margin-top: 4px;
	margin-left: 8px;
	/* margin-right: 12px; */
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	background: #282a36;
}

#clock {
    border: 1px;
    border-style: solid;
	border-radius: 10px;

	margin-top: 4px;
	margin-left: 8px;
	margin-right: 12px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	background: #282a36;
}

#battery {
    border: 1px;
    border-style: solid;
	border-radius: 10px;

	margin-top: 4px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 4px;

	padding-left: 12px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
}

#battery.plugged {
	background: linear-gradient(to bottom right, blue, #252525); /*#252525;*/
}

#battery.charging {
	background: linear-gradient(to bottom right, green, #252525); /*#252525;*/
}

#battery.discharging {
	background: linear-gradient(to bottom right, red, #252525); /*#252525;*/
}

#backlight {
    border: 1px;
    border-style: solid;
	border-radius: 10px;

	margin-top: 4px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	background: #1e1e1e;
	/* background: linear-gradient(to bottom right, grey, #252525); */
}

#idle_inhibitor {
    border: 1px;
    border-style: solid;
	border-radius: 10px;

    transition-duration: 0.2s;

	margin-top: 4px;
	margin-left: 8px;
	margin-right: 12px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;
}

#idle_inhibitor.deactivated {
	color: #1494d7;
	background: #000000;
}

#idle_inhibitor.activated {
	color: #1494d7;
	background: #ff2525;
}

#bluetooth {
    border: 1px;
    border-style: solid;
	border-radius: 10px;

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;
}

#bluetooth.on {
	transition: none;
	color: #1494d7;
	background: #00cc55;
}

#bluetooth.connected {
	transition: none;
	color: #1494d7;
	background: #252525;
}

#bluetooth.off {
	transition: none;
	color: #4d4d4d;
	background: #252525;
}

#custom-media {
	/* margin-top: 4px; */
	/* margin-left: 2px; */
	/* padding-left: 2px; */
	/* padding-right: 2px; */
	/* margin-bottom: 4px; */
	/* border-radius: 2px; */
	/* background: #282a36; */
	/* transition: none; */
	/* color: #1494d7; */
    border: 1px;
    border-style: solid;
	border-radius: 10px;

	/* background: #282a36; */
	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	/*background: #282a36;*/
	transition: none;
	color: #1494d7;
	background: #282a36;
}

#tray {
    border: 1px;
    border-style: solid;
	border-radius: 10px;

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;
    
	padding-left: 16px;
	padding-right: 16px;

	/*background: #282a36;*/
	transition: none;
	color: #1494d7;
	background: #282a36;
}
