/* Global variables */ 
/* :root { */
/*     --custom_border: 4px; */
/* } */

* {
	border: none;
	/* border-radius: var(--custom_border); */
	border-radius: 0px; 

	font-family: MesloLGM Nerd Font;

	font-size: 14px;
	min-height: 20px;
}

window#waybar {
	/* background: #1e1e1e; */
	/* background: transparent; */
	/* background: rgba(0, 0, 0, 0.5); */
	background: linear-gradient(to bottom, rgba(10, 10, 16, 0.9), rgba(0, 0, 0, 0.05));
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    /* border: 1px; */
    /* border-style: solid; */
    border-radius: 0px; /* Border-radius */
    margin-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
	transition: none;

    /* color: transparent; */
    color: #1494d7;

	background: transparent;
    /* background: #282a36; */
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #1e1e1e;
	/* background: #e6e6e6; */
}

#workspaces {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */
	border-color: #1494d7;

	margin-top: 4px;
	margin-left: 12px;
	margin-bottom: 4px;
	/* background: #1e1e1e; */
	/* background: transparent; */
	/* background: #282a36; */
	transition-duration: 0.2s;
	/* background: #282a36; */
	background: rgba(48, 48, 48, 0.5);
	/* background: transparent; */
}

#workspaces button {
	padding: 0 10px;
	transition-duration: 0.2s;
	color: #1494d7;
	background: transparent;
	font-size: 14px;
}

#workspaces button.focused {
	/* padding: 0 10px; */
	transition-duration: 0.2s;
	color: #ff0000;
	background: #1e1e1e;
	font-size: 10px;
}

#workspaces button:hover {
	transition-duration: 0.2s;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#workspaces button.active {
    /* background: #deb4fe; */
	/* background: #1e1e1e; */
    color: #ee5a11;
}

#mpd {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;
	padding-left: 16px;
	padding-right: 16px;

	/* background: #282a36; */
	transition: none;
	color: #4d4d4d;
	/*background: #5af78e;*/
	background: transparent;
	/* background: #282a36; */
}

#mpd.disconnected,
#mpd.stopped {
	color: #1494d7;
	/*background: #282a36;*/
}

#network {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */ 
    border-color: #1494d7;

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
    color: #1494d7;
	/* color: #4d4d4d; */
	/* background: #bd93f9; */
	background: #282a36;
}

#pulseaudio {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */
    
	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	background: rgba(48, 48, 48, 0.5);
	/* background: transparent; */
}

#temperature {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	/* background: #282a36; */
	background: rgba(48, 48, 48, 0.5);
	/* background: linear-gradient(to bottom right, #f61e61, #fa82a7); */
}

#cpu {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	/* background: linear-gradient(to bottom right, #ff2d55, #252525); */
	background: rgba(48, 48, 48, 0.5);
	/* background: #282a36; */
}

#memory {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	background: rgba(48, 48, 48, 0.5);
	/* background: linear-gradient(to bottom right, purple, #252525); */
	/* background: #282a36; */
}

#custom-temp{
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	/* margin-right: 12px; */
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	background: rgba(48, 48, 48, 0.5);
	/* background: #282a36; */
}

#custom-keybinds_activate {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	/* margin-right: 12px; */
	margin-bottom: 4px;

	padding-left: 20px;
	padding-right: 16px;

	transition: none;
	color: #14efe7;
	/* background: #282a36; */
	background: rgba(48, 48, 48, 0.5);
}

#custom-launch_terminal {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	/* margin-right: 12px; */
	margin-bottom: 4px;

	padding-left: 20px;
	padding-right: 16px;

	transition: none;
	/* color: #14efe7; */
	color: #1494d7;
	background: rgba(48, 48, 48, 0.5);
	/* background: #282a36; */
}

#custom-launch_actions_runner {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	/* margin-right: 12px; */
	margin-bottom: 4px;

	padding-left: 20px;
	padding-right: 16px;

	transition: none;
	/* color: #14efe7; */
	color: #14bed7;
	background: rgba(48, 48, 48, 0.5);
	/* background: #282a36; */
}

#custom-launch_actions_runner_stockbrokerage {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	/* margin-right: 12px; */
	margin-bottom: 4px;

	padding-left: 20px;
	padding-right: 16px;

	transition: none;
	/* color: #14efe7; */
	color: #efbed7;
	background: rgba(48, 48, 48, 0.5);
	/* background: #282a36; */
}

#custom-keybinds_deactivate {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	/* margin-right: 12px; */
	margin-bottom: 4px;

	padding-left: 20px;
	padding-right: 16px;

	transition: none;
	color: #ee94d7;
	background: rgba(48, 48, 48, 0.5);
	/* background: #282a36; */
}

#clock {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	margin-right: 12px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	/* background: #282a36; */
	background: rgba(48, 48, 48, 0.5);
	/* background: linear-gradient(to bottom, #1494d7, #282a36); */
}

#battery {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 4px;

	padding-left: 12px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	background: #282a36;
}

#battery.plugged {
	background: linear-gradient(to bottom right, blue, #252525); /*#252525;*/
}

#battery.charging {
	background: linear-gradient(to bottom right, green, #252525); /*#252525;*/
}

#battery.discharging {
	background: linear-gradient(to bottom right, red, #252525); /*#252525;*/
}

#backlight {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	transition: none;
	color: #1494d7;
	/* background: linear-gradient(to bottom right, grey, #252525); */
	/* background: #282a36; */
	background: rgba(48, 48, 48, 0.5);
}

#idle_inhibitor {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

    transition-duration: 0.2s;

	margin-top: 4px;
	margin-left: 8px;
	margin-right: 12px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;
	background: #1e1e1e;
}

#idle_inhibitor.deactivated {
	color: #1494d7;
	background: #000000;
}

#idle_inhibitor.activated {
	color: #1494d7;
	background: #ff2525;
}

#bluetooth {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;
	background: #1e1e1e;
}

#bluetooth.on {
	transition: none;
	color: #1494d7;
	background: #00cc55;
}

#bluetooth.connected {
	transition: none;
	color: #1494d7;
	background: #252525;
}

#bluetooth.off {
	transition: none;
	color: #4d4d4d;
	background: #252525;
}

#custom-media {
	/* margin-top: 4px; */
	/* margin-left: 2px; */
	/* padding-left: 2px; */
	/* padding-right: 2px; */
	/* margin-bottom: 4px; */
	/* border-radius: 2px; */
	/* background: #282a36; */
	/* transition: none; */
	/* color: #1494d7; */
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	/* background: #282a36; */
	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;

	padding-left: 16px;
	padding-right: 16px;

	/*background: #282a36;*/
	transition: none;
	color: #1494d7;
	background: #282a36;
}

#tray {
    /* border: 1px; */
    border-style: solid;
	border-radius: 0px; /* Border-radius */

	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;
    
	padding-left: 16px;
	padding-right: 16px;

	/*background: #282a36;*/
	transition: none;
	color: #1494d7;
	/* background: #282a36; */
	background: rgba(48, 48, 48, 0.5);
}
